{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
     <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />
  </head>
  <body class=" h-full">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Quicksand:wght@300;400;500&display=swap');

      body{
        font-family: "Quicksand";
      }
    </style>
    <header>
      {% include 'app/navbar.html' %}
    </header>
     <nav class="sm:flex max-sm:hidden flex-col">
      {% include 'app/categories.html' %}
     </nav>

     <h1 class="text-8xl">Trending Items For sure</h1>
     <footer class="absolute text-teal-600 bottom-0">Developed by TFW</footer>

  </body>
</html>